h1{
    color: #ef476f;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #ced4da;
    letter-spacing: 3px;
    word-spacing: 10px;
    text-decoration: overline;
}

.caja{
    padding:15px;
    margin: auto;
    width:50%;
    background-color: #219ebc;
    border-radius:5px;;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    color: white;
    width:70%;
    
}

.texto {
     
    text-align: justify;
    /* direction: rtl; */
    text-indent: 30px;
    line-height: 1.5;
    white-space: normal;
    text-shadow: 1px 1px 2px #ced4da;


}